<!DOCTYPE html>
<html lang="en">
<head>
    <style id="trilium-icon-packs">
      <%- iconPackCss %>
    </style>
</head>
<body
  class="desktop heading-style-<%= headingStyle %> layout-<%= layoutOrientation %> platform-<%= platform %> <%= isElectron ? 'electron' : '' %> <%= hasNativeTitleBar ? 'native-titlebar' : '' %> <%= hasBackgroundEffects ? 'background-effects' : '' %>"
  lang="<%= currentLocale.id %>" dir="<%= currentLocale.rtl ? 'rtl' : 'ltr' %>"
>

<link href="<%= assetPath %>/stylesheets/ckeditor-theme.css" rel="stylesheet">
<link href="api/fonts" rel="stylesheet">

<script src="<%= appPath %>/desktop.js" crossorigin type="module"></script>

</body>
</html>
